.box1,.box2,.box3{
    width:42%;
    margin-top: 20px;
    margin-left:30px;
    box-sizing: border-box;
    background-color: gray;
   height:300px;
   
}
.romo{
    margin:auto;
}
.container-fluid{
    margin-left:60px;
}
.navbar-nav a{
    text-align:center;
}


@media (min-width:700px) and (max-width:1200px){
    .navbar-nav{
        visibility: hidden;
    }
}